.login {
    padding: 3rem 0 0rem;
}

@media only screen and (min-width: 1200px) {
    .login .container-md {
        width: 50%;
    }
}

.loginForm {
    border: 1px solid white;
    border-radius: 10px;
}

